<div class="container is-fluid" data-turbo-temporary>
  <% flash.each do |type, message| %>
    <div class="notification is-<%= type %> is-light has-text-centered mt-4">
      <%= message %>
    </div>
   <% end %>
</div>
